@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


/* overriding variables */
/*:root {
	--light-square: #ebfffe;
	--dark-square: #5cd0c9;
	--focus-border: #fff92c;
	--body-bg: #002522;
	--text-color: #fff;
	--action-btn-bg: #d9d9d9;
	--action-btn-color: #000000;
}*/

:root {
	--light-square: #f0f2fb;
	--dark-square: #96a2eb;
	--focus-border: #fff92c;
	--body-bg: #000730;
	--text-color: #fff;
	--action-btn-bg: #f0f2fb;
	--action-btn-color: #000000;
	--dark-highlighter: #525faf;
}
.container-board {
	box-shadow: 1px 1px 30px #38458f;
}